.dropsDown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 120px;
}

.accordion {
  background-color: #404472; /*dark purple*/
  color: white;

  border: none;
  text-decoration: none;
  padding: 15px;
  font-size: 30px;

  border: none;
  outline: none;

  cursor: pointer;
  transition: 0.4s;
}

.content {
  background-color: #686C91; /*light purpsle*/
  margin-top: 15px;
  text-align: center;
  display: none;
  overflow: hidden;
}

.content h1 {
  font-size: 20px;
  color: white;
}

.toNext {
  background-color: #3779B7; /*blue*/
  color: white;

  border: none;
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  font-size: 25px;

  margin-left: 110px;
  margin-right: 110px;
  margin-top: 20px;

  cursor: pointer;
}
