.dropsDown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 120px;
}

.accordion {
  background-color: #404472; /*dark purple*/
  color: white;

  border: none;
  outline: none;
  padding: 15px;
  font-size: 30px;

  cursor: pointer;
  transition: 0.4s;
}

.accordion:active {
  background-color: #1F2138; /*very dark purple*/
}

.content {
  background-color: #686C91; /*light purple*/
  text-align: center;
  /*display: none;*/
  overflow: hidden;
}

.content p {
  font-size: 20px;
  color: white;
}

// Define vars we'll be using
$brand-success: #5cb85c;
$loader-size: 7em;
$check-height: $loader-size/2;
$check-width: $check-height/2;
$check-left: ($loader-size/6 + $loader-size/12);
$check-thickness: 3px;
$check-color: $brand-success;

.circle-loader {
  margin-bottom: $loader-size/2;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: $check-color;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: $loader-size;
  height: $loader-size;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: $check-color;
  transition: border 500ms ease-out;
}

.checkmark {
  display: none;

  &.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
  }

  &:after {
    opacity: 1;
    height: $check-height;
    width: $check-width;
    transform-origin: left top;
    border-right: $check-thickness solid $check-color;
    border-top: $check-thickness solid $check-color;
    content: '';
    left: $check-left;
    top: $check-height;
    position: absolute;
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: $check-width;
    opacity: 1;
  }
  40% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
  100% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
}



.toNext {
  background-color: #3779B7; /*blue*/
  color: white;

  border: none;
  text-decoration: none;

  padding: 15px;
  font-size: 25px;

  margin-left: 110px;
  margin-right: 110px;
  margin-top: 20px;


}
